@import "~antd/dist/antd.css";

.ant-card {
  height: 250px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ant-card:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

.todo-description {
  height: 80px;
  word-wrap: break-word;
}

.cursor-pointer {
  cursor: pointer;
}

.form-card {
  margin-bottom: 20px;
  height: 250px !important;
}
.newly-added-todo {
  transition: background-color 1s linear;
}
.animate-color {
  background-color: lightgreen;
}
